@import "tailwindcss";
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.suggest-ul {
  background: #44507d;
  color: #ffffff;

}
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swipper-div {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swipper-div img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.topbar{
   background-color: rgba(24, 23, 23, 0);
  height: 70px;
  /* opacity: 0.2; */
  display: flex;
  align-items: center;    
  justify-content: space-between; 
  position: relative;
  z-index: 10;
  padding: 0 20px;
}
.searchbutton{
  background: indigo !important ;
}




.catergorie_div {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  background-color: #fff;
  margin: 20px 40px;
}
.catergorie_div img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.catergorie_div p {
  text-align: center;
  font-size: 16px;
}

.listDot::before {
  content: "";
  position: absolute;
  left: -6px;
  top: 50%;
  background-color: #6B6D70;
  border-radius: 50%;
  width: 4px;
  height: 4px;
}

.listingCAROUSAL .swiper-button-next,
.listingCAROUSAL .swiper-button-prev {
  width: 25px !important;
  height: 25px !important;
  font-size: 16px !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 5px;
  padding: 5px;
  color: #fff !important;
}

.listingCAROUSAL .swiper-button-next::after,
.listingCAROUSAL .swiper-button-prev::after {
  font-size: 16px !important;
}
.swiper-pagination-bullet-active {
  background: #fff !important;
}
